@import url("https://fonts.googleapis.com/css2?family=Outfit");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated {
	image-rendering: pixelated;
}

body {
	background: #f6f8fc;
	padding: 0 10vw;
	font-family: "Outfit", sans-serif;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	background-image: url(/pokeball-icon.png);
	background-repeat: no-repeat;
	background-position-x: -140px;
	background-position-y: -80px;
	width: 100%;
}

.overflow-y-auto::-webkit-scrollbar {
	width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
	background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.overflow-y-auto:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}
