@import url("https://fonts.googleapis.com/css2?family=Outfit");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated {
  image-rendering: pixelated;
}

body {
  background: #f6f8fc;
  padding: 0 10vw;
  font-family: "Outfit", sans-serif;
  text-transform: capitalize;
  background-image: url(/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -140px;
  background-position-y: -80px;
  width: 100%;
}

@media (max-width: 760px) {
  body {
    padding: 0;
  }
}

.overflow-y-auto::-webkit-scrollbar {
  width: 3px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
